* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    /* background: linear-gradient(to right, rgb(41, 41, 41), rgb(36, 35, 35)); */
}

body,
html {
    margin: 0;
    padding: 0%;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    height: 65px;
    background: linear-gradient(to right, #003049, #093c8e);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    /* position: relative; */

}

.menu-icon {
    /* position: absolute; */
    justify-content: start;
    left: 0%;
    padding: 0%;
}

.nav-logo {
    height: 45px;
    width: 104px;
    position: static;



}

.logo {
    background-size: cover;
    background-image: url("bamanhatgymlogo_by_bisal.png");
    height: 45px;
    width: 104px;
    position: absolute;
}

.nav-ops p {
    margin-left: 20px;
    display: inline;
    transition: 0.2s;
    font-weight: 700;
}


.nav-social p {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.nav-social {
    padding: 0%;
    display: flex;
    margin-left: 0px;
}

.nav-ops-hov:hover {
    color: yellow;
    font-size: 17px;
}

.nav-social i {
    margin-right: 15px;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: ease-in;

}

.menu-icon {
    margin-right: 15px;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: ease-in;
}


.nav-social i:hover {
    border: 2px solid #f77f00;
    border-radius: 4px;
}

.menu-icon:hover {
    border: 2px solid #f77f00;
    border-radius: 4px;
}

/* hero section */
.hero {
    width: 100%;
}

.hero-about {
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.hero-about img {
    background-size: cover;
    width: 100%;
    margin: 0;
    margin-bottom: 0%;
    bottom: 0;

}

.img-box {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    width: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.why-choose-us img {
    height: 80%;
    width: 90%;
    background-size: cover;
    /* border: 2px solid white; */

}

img {
    display: block;
}

.why-choose-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(to right, #0E21A0, rgb(17, 220, 220));
    width: 100%;
    align-items: center;
}

/*about footer nav */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 200px;
    width: 100%;

    background: linear-gradient(to bottom, rgb(7, 81, 113), rgb(33, 33, 33));

}

.footnav {
    position: absolute;
    height: 200px;


    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 100%;

}

.about-foot1 {
    height: 120px;
    width: 300px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin-bottom: 4%;
    border-bottom: 3px solid rgb(255, 247, 0);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: white;
    /* border: 2px solid red; */

}



.about-foot1-header {
    font-weight: 700;
    color: rgb(246, 255, 0);
    margin-bottom: 9px;
}


.copyright p {
    text-align: center;
    color: aliceblue;
    margin-bottom: 2%;
    font-size: 12px;
}

.about-foot1-text {
    font-size: small;
}